@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://use.typekit.net/edq7vic.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}

.header {
  z-index: 1;
  justify-content: space-between;
  background-color: black;
  color: #dfdcdc;
  position: sticky;
  height: 13vh;
  display: flex;
  align-items: center;
  top: 0;
  font-family: 'Comfortaa';
}

.header > h1 {
  margin-left: 5%;
}

.header > .links {
  margin: 0px -15%;
}

a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-right: 7%;
}

.link1,
.link2 {
  position: relative;
}

.link1:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #dfdcdc;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.link1:hover:after {
  width: 100%;
  left: 0;
}
.link2:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #dfdcdc;
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
  width: 0;
}
.link2:hover:after {
  width: 100%;
  left: 0;
}

.header > a {
  opacity: 0.8;
  transition: 150ms opacity ease-in-out;
}

.header > a:hover {
  opacity: 0.9;
}

.header > h1 {
  cursor: pointer;
}

.header > a > h1 {
  color: white;
  font-weight: 300;
  margin-left: 0.3rem;
}

.logo > h1 {
  font-weight: 300;
  cursor: pointer;
}

.links {
  font-weight: 400;
}

.first {
  margin-top: 2rem;
}

.main {
  background-color: black;
  height: 220vh;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  border-top: 1px solid white;
  font-family: 'Inter', sans-serif;
}
.footer > a {
  margin-left: 1rem;
  transition: 150ms opacity ease-in-out;
}

.footer > a:hover {
  opacity: 0.7;
}

.product-price,
.product-desc {
  color: white;
  font-family: 'Inter';
  font-weight: 500;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 3rem;
}

.product > img {
  height: 35vh;
  cursor: pointer;
  width: 25vw;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-pic:hover + .product-info {
  opacity: 0.6;
}

.product-pic:hover {
  opacity: 0.6;
}

.product-info:hover {
  opacity: 0.6;
}

.home {
  background-color: black;
  height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Comfortaa';
}

.home > h1 {
  margin-top: 10rem;
}

.home > button {
  width: 30vw;
  height: 10vh;
  margin-top: 3rem;
  background-color: rgb(202, 207, 211);
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 900;
  font-size: x-large;
  transition: 300ms opacity ease-in-out;
}

.home > button:hover {
  opacity: 0.4;
}

.prod {
  background-color: black;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa';
}

.prod > img {
  width: 26vw;
  height: 45vh;
  margin-right: 3rem;
  margin-top: 7rem;
}

.prod-info {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container2 {
  margin-bottom: 12rem;
  margin-left: 12rem;
}

.prod-buy {
  background-color: #149948;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  color: white;
  font-family: 'Comfortaa';
  width: 15vw;
  height: 5.5vh;
  border: none;
  cursor: pointer;
  transition: 1s background-color cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 7px;
  margin-top: 2rem;
  font-size: large;
}

.prod-buy:hover {
  background-color: #25bd5f;
}

.prod-back:hover {
  opacity: 0.5;
}

.prod-back {
  cursor: pointer;
}

.prod-count {
  display: flex;
  margin-top: 2rem;
}

.prod-count > button {
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  width: 2rem;
  font-family: 'Comfortaa';
  font-weight: 900;
  font-size: large;
}

.prod-count > p {
  border: 1px solid white;
  cursor: default;
  padding: 5px;
}

.checkout {
  background-color: black;
  height: 80vh;
  width: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Comfortaa';
}

.checkout-pic {
  width: 25vw;
  height: 35vh;
  margin-left: 2rem;
}

.checkout-desc {
  margin: 2rem 0;
}
.checkout-desc,
.checkout-price {
  margin-left: 2rem;
}

.container69 {
  height: 80vh;

  display: flex;
  background-color: black;
  color: white;
  font-family: 'Comfortaa';
}

.container69 > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 17vh;
  font-family: 'Comfortaa';
  font-weight: bolder;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 300ms opacity ease-in-out;
}

.container69 > button:hover {
  opacity: 0.6;
}

.checkout-amount {
  display: flex;
  flex-wrap: wrap;
}

.purchase {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Comfortaa';
  font-size: large;
}
