@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  font-family: 'Comfortaa';
}

.header {
  background-color: black;
  color: #dfdcdc;
  position: sticky;
  height: 13vh;
  display: flex;
  align-items: center;
  top: 0;
}

.main {
  background-color: pink;
  height: 200vh;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.square {
  width: 40vh;
  height: 40vh;
  background-color: red;
  display: block;
}

.footer {
  background-color: orchid;
  margin-top: auto;
  display: flex;
  justify-content: center;
}
